.maindiv{
    display: flex;
    flex-direction: row;
    padding:40px;
}

.product-list{
    width:30%;
    height:100vh;
    border:1px solid black;
}

.product-details{
    width:70%;
    height:100vh;
    border:1px solid black;
}

.selectedProduct{
    color:wheat;
    text-decoration: underline;
}